# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Python egg info
*.egg-info/
dist/
build/
